<ion-view view-title="Wiki Search">
  <ion-content>
    <form ng-model="formData" name="myForm">
    <div class="list list-inset">
      <label class="item item-input item-select">
        <div class="input-label">
          Search site
        </div>
        <select ng-model="formData.site">
          <option value="wikidata">Wikidata</option>
          <option value="commons">Wikimedia Commons</option>
          <option value="wikipedia">Wikipedia</option>
          <!--<option>Wikivoyage</option>-->
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Search language
        </div>
        <select ng-model="formData.language">
          <option value="en">English (en)</option>
          <option value="da">Danish (da)</option>
          <option value="et">Estonian (et)</option>
          <option value="fi">Finnish (fi)</option>
          <option value="is">Icelandic (is)</option>
          <option value="no">Norwegian (no)</option>
          <option value="se">Swedish (se)</option>
          <!--<option>Wikivoyage</option>-->
        </select>
      </label>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input ng-model="formData.searchText" type="text" placeholder="Search Text">
      </label>
    </div>

    <div class="list list-inset">
      <button ng-click="queryMediaWiki();" class="button button-block button-positive">
        Search
      </button>
    </div>
  </form>

  <ion-list>
      <ion-item class="item-remove-animate item-icon-right item-text-wrap" ng-repeat="result in searchResults" type="item-text-wrap" href="#/tab/wiki/{{result.id}}">
        <h2>{{result.label}}</h2>
        <p>{{result.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
