<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="WikiOSMark">
  <ion-content class="padding">

    <div ng-if="data.site == 'commons'">
      <h2>{{data.title}}</h2>
      <p><a href="" ng-click="goTo(data.siteURL)">View at the Media Commons site</a></p>

      <p ng-if="imageCountLimitReached">There are more than {{imageCount}} images. Showing the first {{imageCount}}.</p>

      <div class="list item-text-wrap">
        <a ng-repeat="thumb in thumbs"
             class="item item-thumbnail-left" ng-click="goTo(thumb.descrUrl)">

             <img ng-src="{{ thumb.image }}">
             <h2>{{ thumb.title }}</h2>
             <!-- <h4>Date: {{ thumb.date }}</h4> -->
             <h4>Description: {{ thumb.description }}</h4>
             <!--<h4>{{ thumb.source }}</h4>-->
             <h4>Author: {{ thumb.author }}</h4>
             <h4>License: {{ thumb.permission }}</h4>
          </a>
      </div>

      <!-- <a href="#" onclick="window.open('{{data.siteURL}}', '_system', 'location=yes'); return false;">
        {{data.siteURL}}</a> -->
    </div>
    <!------------------------------------------------------------------------------------------->
    <div ng-if="data.site == 'wikipedia'">
      <h2>{{data.title}}</h2>
      <p><a href="" ng-click="goTo(data.siteURL)">View the original article</a></p>
      <!--<img ng-src="{{articleImage}}" ng-if="articleImage != ''">
      <p>{{introText}}</p>-->
      <ion-list>
      <div ng-repeat="section in sections">
        <ion-item class="item-stable"
                  ng-click="toggleGroup(section)"
                  ng-class="{active: isGroupShown(section)}">
            <i class="icon" ng-class="isGroupShown(section) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
          {{section.title}}
        </ion-item>
        <ion-item class="item item-accordion item-text-wrap"
                  ng-show="isGroupShown(section)">
          <ion-item class="item-stable"
                    ng-click="toggleMapframe(section)"
                    ng-class="{active: isMapframeShown(section)}">
              <i class="icon" ng-class="isMapframeShown(section) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            Mapframe
          </ion-item>
          <ion-item class="item item-accordion item-text-wrap"
                    ng-show="isMapframeShown(section)">
            <div class="item">
            <div class="list">
              <label class="item item-input item-stacked-label">
                <span class="input-label">text</span>
                <input type="text" placeholder="below mapframe, e.g. Hønefoss" ng-model="mapframe.text">
              </label>
              <div class="row"></div>
              <div class="row wiki-mapframe-coords-row">
                <div class="col col-50 wiki-mapframe-coords-col">
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">lng</span>
                    <input type="text" placeholder="10.2603" ng-model="mapframe.longitude">
                  </label>
                </div>
                <div class="col col-50 wiki-mapframe-coords-col">
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">lat</span>
                    <input type="text" placeholder="60.1635" ng-model="mapframe.latitude">
                  </label>
                </div>
              </div>
              <div class="row"></div>
              <label class="item item-input">
                <span class="input-label">width in px</span>
                <input type="text" ng-model="mapframe.width">
              </label>
              <div class="item range">
                <i class="icon ion-minus-round"></i>
                  <input type="range" name="width" min="10" max="2000" ng-model="mapframe.width">
                <i class="icon ion-plus-round"></i>
              </div>
              <div class="row"></div>
              <label class="item item-input">
                <span class="input-label">height in px</span>
                <input type="text" ng-model="mapframe.height">
              </label>
              <div class="item range">
                <i class="icon ion-minus-round"></i>
                  <input type="range" name="height" min="10" max="2000" ng-model="mapframe.height">
                <i class="icon ion-plus-round"></i>
              </div>
              <div class="row"></div>
              <label class="item item-input">
                <span class="input-label">zoom level</span>
                <input type="text" ng-model="mapframe.zoom">
              </label>
              <div class="item range">
                <i class="icon ion-minus-round"></i>
                  <input type="range" name="zoom" min="1" max="20" ng-model="mapframe.zoom">
                <i class="icon ion-plus-round"></i>
              </div>
              <div class="row"></div>
              <label class="item item-input item-select">
                <div class="input-label">
                  Mapframe alignment
                </div>
                <select ng-model="mapframe.align" >
                  <option>left</option>
                  <option selected>center</option>
                  <option>right</option>
                </select>
              </label>
              <div class="row"></div>
              <button class="button button-positive" ng-click="addMapframeToWikipedia($index, section)" ng-disabled="mapframe.text=='' || mapframe.latitude==undefined || mapframe.longitude==undefined">
                Add to Wikipedia
              </button>
            </div>
          </div>
          </ion-item>
          <ion-item class="item-stable"
                    ng-click="toggleMaplink(section)"
                    ng-class="{active: isMaplinkShown(section)}">
              <i class="icon" ng-class="isMaplinkShown(section) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            Maplink
          </ion-item>
          <ion-item class="item item-accordion item-text-wrap"
                    ng-show="isMaplinkShown(section)">
            <div class="item">
            <div class="list">
              <label class="item item-input item-stacked-label">
                <span class="input-label">text</span>
                <input type="text" placeholder="link text, e.g. Hønefoss" ng-model="mapframe.text">
              </label>
              <div class="row"></div>
              <div class="row wiki-mapframe-coords-row">
                <div class="col col-50 wiki-mapframe-coords-col">
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">lng</span>
                    <input type="text" placeholder="10.2603" ng-model="mapframe.longitude">
                  </label>
                </div>
                <div class="col col-50 wiki-mapframe-coords-col">
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">lat</span>
                    <input type="text" placeholder="60.1635" ng-model="mapframe.latitude">
                  </label>
                </div>
              </div>
              <div class="row"></div>
              <label class="item item-input">
                <span class="input-label">zoom level</span>
                <input type="text" ng-model="mapframe.zoom">
              </label>
              <div class="item range">
                <i class="icon ion-minus-round"></i>
                  <input type="range" name="zoom" min="1" max="20" ng-model="mapframe.zoom">
                <i class="icon ion-plus-round"></i>
              </div>
              <div class="row"></div>
              <button class="button button-positive" ng-click="addMaplinkToWikipedia($index, section)" ng-disabled="mapframe.latitude==undefined || mapframe.longitude==undefined">
                Add to Wikipedia
              </button>
            </div>
          </div>
          </ion-item>
          <ion-item class="item-stable"
                    ng-click="toggleRawSectionText(section)"
                    ng-class="{active: isRawSectionTextShown(section)}">
              <i class="icon" ng-class="isRawSectionTextShown(section) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            Raw section text
          </ion-item>
          <ion-item class="item item-accordion item-text-wrap"
                    ng-show="isRawSectionTextShown(section)">
            <div class="item">
              <p class="wiki-article-section-text">{{section.content}}</p>
            </div>
          </ion-item>
        </ion-item>
      </div>
    </ion-list>
    </div>
    <!------------------------------------------------------------------------------------------->
    <div ng-if="data.site == 'wikidata'">
      <h2>{{data.title}}</h2>
      <p><a href="" ng-click="goTo(data.siteURL)">View at the Wikidata site</a></p>

      <div class="list">
        <div class="item" ng-repeat="claim in claims">
          <div class="row responsive-sm">
            <div class="col col-50">{{claim.property}}</div>
              <div class="col col-50">
                <div class="row padding-bottom" ng-repeat="value in claim.values">
                  <span ng-if="claim.areLinks == true"><a href="" ng-click="goTo(value)">{{value}}</a></span>
                  <span ng-if="claim.areLinks == false">{{value}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
