<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
    <div class="list list-inset item-text-wrap">
      <div class="item item-divider">
        Wikimedia
      </div>
      <label class="item item-input item-select">
        <div class="input-label">
          Default search language
        </div>
        <select ng-model="settings.defaultLanguage" ng-change="changeDefaultLanguage()">
          <option value="en">English (en)</option>
          <option value="da">Danish (da)</option>
          <option value="et">Estonian (et)</option>
          <option value="fi">Finnish (fi)</option>
          <option value="is">Icelandic (is)</option>
          <option value="no">Norwegian (no)</option>
          <option value="se">Swedish (se)</option>
          <!--<option>Wikivoyage</option>-->
        </select>
      </label>
      <div class="item item-divider">
        Country Specific Open Data
      </div>
      <ion-list>
        <!--<ion-item class="item-remove-animate item-icon-right item-text-wrap" type="item-text-wrap" href="#/tab/settings-country/da">
          <span class="flag-icon flag-icon-dk settings-list-flag-icon"></span>
          Denmark
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-remove-animate item-icon-right item-text-wrap" type="item-text-wrap" href="#/tab/settings-country/et">
          <span class="flag-icon flag-icon-ee settings-list-flag-icon"></span>
          Estonia
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-remove-animate item-icon-right item-text-wrap" type="item-text-wrap" href="#/tab/settings-country/fi">
          <span class="flag-icon flag-icon-fi settings-list-flag-icon"></span>
          Finland
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>-->
        <ion-item class="item-remove-animate item-icon-right item-text-wrap" type="item-text-wrap" href="#/tab/settings-country/is">
          <span class="flag-icon flag-icon-is settings-list-flag-icon"></span>
          Iceland
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-remove-animate item-icon-right item-text-wrap" type="item-text-wrap" href="#/tab/settings-country/no">
          <span class="flag-icon flag-icon-no settings-list-flag-icon"></span>
          Norway
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-remove-animate item-icon-right item-text-wrap" type="item-text-wrap" href="#/tab/settings-country/se">
          <span class="flag-icon flag-icon-se settings-list-flag-icon"></span>
          Sweden
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
      <div class="item item-divider">
        OpenStreetMap
      </div>
      <div class="item">
        <ion-item ng-if="authenticatedOSM() == false" class="item item-remove-animate item-thumbnail-left" type="item-text-wrap" href="" ng-click="authorizeOSM()">
          <img src="img/osm.png">
          <h2>OpenStreetMap account</h2>
            <p>Authenticate...</p>
        </ion-item>
        <ion-item ng-if="authenticatedOSM() == true" class="item item-remove-animate item-thumbnail-left" type="item-text-wrap" href="" ng-click="logoutOSM()">
          <img src="img/osm.png">
          <h2 ng-init="getOSMUserDetails()">OpenStreetMap account</h2>
            <p ng-if="userDetails.OSM.user._display_name == null">Logged in</p>
            <p ng-if="userDetails.OSM.user._display_name != null">Logged in as {{userDetails.OSM.user._display_name}}</p>
            <p>Click to logout...</p>
        </ion-item>
        <!--<ion-item class="item item-remove-animate item-thumbnail-left" type="item-text-wrap" href="" ng-click="authorizeWiki()">
          <img src="img/wiki.png">
          <h2>Wikimedia</h2>
            <p>Click to connect...</p>
        </ion-item>-->
      </div>
      <div class="item">
        OpenStreetMap elements search radius
        <div class="row">
        </div>
        <div class="item range">
          <i class="icon ion-minus-round"></i>
            <input type="range" name="searchRadius" min="10" max="500" ng-model="settings.OSMSearchRadius"  ng-change="changeOSMSearchRadius()">
          <i class="icon ion-plus-round"></i>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" ng-model="settings.OSMSearchRadius" ng-change="changeOSMSearchRadius()">
          </label>
          <span>
            &nbsp;meters
          </span>
        </div>
      </div>
      <div class="item item-divider">
        Wheelmap.org
      </div>
      <ion-toggle ng-model="settings.showWheelmapNodesOnMap" ng-change="switchShowWheelmapNodes()">
          Show Wheelmap.org places on the map
      </ion-toggle>
      <div class="item">
        Max count of Wheelmap.org places to show
        <div class="row">
        </div>
        <div class="item range">
          <i class="icon ion-minus-round"></i>
            <input type="range" name="wheelmapNodesMaxCount" min="1" max="500" ng-model="settings.wheelmapNodesMaxCount"  ng-change="changeWheelmapNodesMaxCount()">
          <i class="icon ion-plus-round"></i>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" ng-model="settings.wheelmapNodesMaxCount" ng-change="changeWheelmapNodesMaxCount()">
          </label>
        </div>
      </div>
      <div class="item item-divider">
        Photos
      </div>
      <ion-toggle ng-model="settings.showUserPhotos" ng-change="switchShowUserPhotos()">
          Show my photos on the map
      </ion-toggle>
      <div class="item">
        Max count of Flickr photos to show
        <div class="row">
        </div>
        <div class="item range">
          <i class="icon ion-minus-round"></i>
            <input type="range" name="flickrPhotoMaxCount" min="1" max="500" ng-model="settings.flickrPhotoMaxCount"  ng-change="changeFlickrPhotoMaxCount()">
          <i class="icon ion-plus-round"></i>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" ng-model="settings.flickrPhotoMaxCount" ng-change="changeFlickrPhotoMaxCount()">
          </label>
        </div>
      </div>
      <div class="item">
        Max count of Mapillary photos to show
        <div class="row">
        </div>
        <div class="item range">
          <i class="icon ion-minus-round"></i>
            <input type="range" name="mapillaryPhotoMaxCount" min="1" max="500" ng-model="settings.mapillaryPhotoMaxCount"  ng-change="changeMapillaryPhotoMaxCount()">
          <i class="icon ion-plus-round"></i>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" ng-model="settings.mapillaryPhotoMaxCount" ng-change="changeMapillaryPhotoMaxCount()">
          </label>
        </div>
      </div>
      <!--<ion-toggle ng-model="settings.showWikidataOnMap" ng-change="switchShowWikidataOnMap()">
          Show Wikidata, Wikipedia and Wikimedia Commons items on the map
      </ion-toggle>
      <!--<ion-toggle ng-model="settings.showWikipediaOnMap" ng-change="switchShowWikipediaOnMap()">
          Show Wikipedia items on the map
      </ion-toggle>
      <ion-toggle ng-model="settings.showCommonsOnMap" ng-change="switchShowCommonsOnMap()">
          Show Wikimedia Commons items on the map
      </ion-toggle>-->
    </div>
    </ion-list>
  </ion-content>
</ion-view>
