<ion-view view-title="Info">
  <ion-content>
    <div class="list text-center">
      <div class="item item-divider">
        <h2 class="title">About</h2>
      </div>
        <div class="row">
          <div class="col col-100">
          TODO
        </div>
      </div>

      <div class="item item-divider">
        <h2 class="title">Attributions</h2>
      </div>
      <div class="item">

      </div>
      <div class="row">
        <div class="col col-100">
          <a href="#" onclick="window.open('https://tools.wmflabs.org/wikishootme', '_system', 'location=yes'); return false;">WikiShootMe!</a> - by <a href="#" onclick="window.open('http://magnusmanske.de/', '_system', 'location=yes'); return false;">Magnus Manske</a>
        </div>
      </div>
      <div class="item">

      </div>
      <div class="row">
        <div class="col col-100">OpenStreetMap logo - by Ken Vermette,
          <!--<a href="#" onclick="window.open('https://wiki.openstreetmap.org/wiki/File:Public-images-osm_logo.svg', '_system', 'location=yes'); return false;">
          https://wiki.openstreetmap.org/wiki/File:Public-images-osm_logo.svg</a>,
          <a href="#" onclick="window.open('http://creativecommons.org/licenses/by-sa/2.0', '_system', 'location=yes'); return false;" title="Creative Commons Attribution-Share Alike 2.0">-->
            CC BY-SA 2.0<!--</a>-->, source:
          <a href="#" onclick="window.open('https://commons.wikimedia.org/w/index.php?curid=4075670', '_system', 'location=yes'); return false;">
            Wikimedia Commons</a>
        </div>
      </div>
      <!--<div class="row">
        <div class="col col-100">
          Mediawiki logo by
          <a href="#" onclick="window.open('https://commons.wikimedia.org/wiki/User:Zscout370', '_system', 'location=yes'); return false;">
            Zscout370</a> with modifications by
          <a href="#" onclick="window.open('https://commons.wikimedia.org/wiki/User:Dbenbenn', '_system', 'location=yes'); return false;">
              Dbenbenn</a>. The logo was originally designed by
          <a href="#" onclick="window.open('https://en.wikipedia.org/wiki/User:Neolux', '_system', 'location=yes'); return false;">
                Neolux</a> on
          <a href="#" onclick="window.open('https://meta.wikimedia.org/wiki/File:Ncwikimedia.png', '_system', 'location=yes'); return false;">
                  Meta</a> (15 Oktober 2003). -
          <a href="#" onclick="window.open('https://commons.wikimedia.org/wiki/File:Wikimedia-logo.png', '_system', 'location=yes'); return false;">
            https://commons.wikimedia.org/wiki/File:Wikimedia-logo.png</a>, Public Domain,
          <a href="#" onclick="window.open('https://commons.wikimedia.org/w/index.php?curid=20388340', '_system', 'location=yes'); return false;">
            https://commons.wikimedia.org/w/index.php?curid=20388340</a>.
        </div>-->
        <div class="row">
          <div class="col col-100">
            Wikimedia Commons logo - by Grunt and cleaned up by 3247, based on the earlier PNG version, created by Reidab, public domain, source: <a href="#" onclick="window.open('https://commons.wikimedia.org/wiki/File%3ACommons-logo.svg', '_system', 'location=yes'); return false;">Wikimedia Commons</a>
          </div>
        </div>
        <div class="row">
          <div class="col col-100">
            Wikidata logo - by Planemad (Own work), public domain, source: <a href="#" onclick="window.open('https://commons.wikimedia.org/wiki/File%3AWikidata-logo-en.svg', '_system', 'location=yes'); return false;">Wikimedia Commons</a>
          </div>
        </div>
        <div class="row">
          <div class="col col-100">
            Wikipedia logo - by Wikimedia Foundation, CC BY-SA 3.0, source: <a href="#" onclick="window.open('https://commons.wikimedia.org/wiki/File%3AWikipedia-logo-v2-en.png', '_system', 'location=yes'); return false;">Wikimedia Commons</a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
