<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="WikiOSMark">
  <ion-content class="padding">

    <div ng-if="data.site == 'commons'">
      <h2>{{data.title}}</h2>

      <p ng-if="imageCountLimitReached">There are more than {{imageCount}} images. Showing the first {{imageCount}}.</p>

      <div class="list item-text-wrap">
        <a ng-repeat="thumb in thumbs"
             class="item item-thumbnail-left" ng-click="goTo(thumb.descrUrl)">

             <img ng-src="{{ thumb.image }}">
             <h2>{{ thumb.title }}</h2>
             <!-- <h4>Date: {{ thumb.date }}</h4> -->
             <h4>Description: {{ thumb.description }}</h4>
             <!--<h4>{{ thumb.source }}</h4>-->
             <h4>Author: {{ thumb.author }}</h4>
             <h4>License: {{ thumb.permission }}</h4>
          </a>
      </div>

      <!-- <a href="#" onclick="window.open('{{data.siteURL}}', '_system', 'location=yes'); return false;">
        {{data.siteURL}}</a> -->
    </div>
    <!------------------------------------------------------------------------------------------->
    <div ng-if="data.site == 'wikipedia'">
      <h2>{{data.title}}</h2>
      <p><a href="" ng-click="goTo(data.siteURL)">View the original article</a></p>
      <img ng-src="{{articleImage}}" ng-if="articleImage != ''">
      <p>{{introText}}</p>
    </div>
    <!------------------------------------------------------------------------------------------->
    <div ng-if="data.site == 'wikidata'">
      <h2>{{data.title}}</h2>
      <p><a href="" ng-click="goTo(data.siteURL)">View at the Wikidata site</a></p>

      <div class="list">
        <div class="item" ng-repeat="claim in claims">
          <div class="row responsive-sm">
            <div class="col col-50">{{claim.property}}</div>
              <div class="col col-50">
                <div class="row padding-bottom" ng-repeat="value in claim.values">
                  <span ng-if="claim.areLinks == true"><a href="" ng-click="goTo(value)">{{value}}</a></span>
                  <span ng-if="claim.areLinks == false">{{value}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
