<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>

    <div class="list list-inset">
    	<ion-item class="item item-remove-animate item-thumbnail-left" type="item-text-wrap" href="#/tab/account/osm_oauth">
    		<img src="img/osm.png">
    		<h2>OpenStreetMap</h2>
        	<p>Click to connect...</p>
    	</ion-item>
    	<ion-item class="item item-remove-animate item-thumbnail-left" type="item-text-wrap" href="#/tab/account/wiki_oauth">
    		<img src="img/wiki.png">
    		<h2>Wikimedia</h2>
        	<p>Click to connect...</p>
    	</ion-item>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
