<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>

    <div class="list list-inset">
    	<ion-item ng-if="authenticatedOSM() == false" class="item item-remove-animate item-thumbnail-left" type="item-text-wrap" href="" ng-click="authorizeOSM()">
    		<img src="img/osm.png">
    		<h2>OpenStreetMap</h2>
        	<p>Authenticate...</p>
    	</ion-item>
      <ion-item ng-if="authenticatedOSM() == true" class="item item-remove-animate item-thumbnail-left" type="item-text-wrap" href="" ng-click="logoutOSM()">
    		<img src="img/osm.png">
    		<h2 ng-init="getOSMUserDetails()">OpenStreetMap</h2>
          <p ng-if="userDetails.OSM.user._display_name == null">Logged in</p>
          <p ng-if="userDetails.OSM.user._display_name != null">Logged in as {{userDetails.OSM.user._display_name}}</p>
        	<p>Click to disconnect...</p>
    	</ion-item>
    	<ion-item class="item item-remove-animate item-thumbnail-left" type="item-text-wrap" href="" ng-click="authorizeWiki()">
    		<img src="img/wiki.png">
    		<h2>Wikimedia</h2>
        	<p>Click to connect...</p>
    	</ion-item>
    </div>

    <div class="list list-inset">
      <label class="item item-input item-select">
        <div class="input-label">
          Default search language
        </div>
        <select ng-model="settings.defaultLanguage" ng-change="changeDefaultLanguage()">
          <option value="en">English (en)</option>
          <option value="da">Danish (da)</option>
          <option value="et">Estonian (et)</option>
          <option value="fi">Finnish (fi)</option>
          <option value="is">Icelandic (is)</option>
          <option value="no">Norwegian (no)</option>
          <option value="se">Swedish (se)</option>
          <!--<option>Wikivoyage</option>-->
        </select>
      </label>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
