<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button ng-if="currentState == 'tab.map'" class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        <button ng-if="currentState != 'tab.map'" class="button button-icon button-clear ion-navicon" menu-toggle="right" ng-hide="true"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left">
        <button ng-if="currentState == 'tab.map'" class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        <button ng-if="currentState != 'tab.map'" class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-hide="true"></button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- TABS -->
    <!--
    Create tabs with an icon and label, using the tabs-positive style.
    Each tab's child <ion-nav-view> directive will have its own
    navigation history that also transitions its views in and out.
    -->
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">

      <!-- Map Tab -->
      <ion-tab title="Map" icon-off="ion-map" icon-on="ion-map" href="#/tab/map">
        <ion-nav-view name="tab-map"></ion-nav-view>
      </ion-tab>

      <!-- Wiki Tab -->
      <ion-tab title="Wiki" icon-off="ion-ios-barcode" icon-on="ion-ios-barcode" href="#/tab/wiki">
        <ion-nav-view name="tab-wiki"></ion-nav-view>
      </ion-tab>

      <!-- Account Tab -->
      <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
      </ion-tab>

      <!-- Info Tab -->
      <ion-tab title="Info" icon-off="ion-information" icon-on="ion-information" href="#/tab/info">
        <ion-nav-view name="tab-info"></ion-nav-view>
      </ion-tab>

    </ion-tabs>

  </ion-side-menu-content>

<!--
<ion-nav-buttons side="primary">
  <button ng-click="locateMe();" class="button">Locate me</button>
</ion-nav-buttons>
  <ion-nav-buttons side="secondary">
  <button ng-click="findOSMObjects();" class="button">List OSM objects</button>
</ion-nav-buttons>
-->

   <!-- Side Menu (left) -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">{{mainMenuTitle}}</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list ng-if="currentState == 'tab.map'">
        <ion-item menu-close ng-click="locateMe()">
          Locate me
        </ion-item>
        <ion-item menu-close ng-click="findOSMObjects()" ng-controller="MapCtrl">
          Show OSM objects
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right" width="275">
    <ion-header-bar class="bar-stable">
      <h1 class="title">{{sideMenuTitle}}</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list ng-if="currentState == 'tab.map'" ng-controller="MapCtrl">
        <ion-item class="item-osm-object">
          <button class="button button-positive" ng-click="saveWikiTagChanges()" ng-disabled="changesToSave == false">
            Save changes
          </button>
        </ion-item>
        <div class="list list-inset">
          <div class="item item-divider">
            Object ID
          </div>
          <ion-item ng-click="">
            <h2>{{osmObjectInfo.id}}</h2>
          </ion-item>
          <ion-item class="item-osm-object">
            <button class="button button-positive button-small wiki-map-button" ng-click="showOSMObjectPage()">View on openstreetmap.org</button>
          </ion-item>
          <div class="item item-divider">
            Type
          </div>
          <ion-item>
            <h2>{{osmObjectInfo.type}}</h2>
          </ion-item>
          <div class="item item-divider">
            Wiki Tags
          </div>
          <ion-item class="item-osm-object">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Wikidata
              </span>
              <input type="text" placeholder="Give label or Qxxxx ..." ng-model="osmObjectInfo.wikidataTag" ng-change="inputWikidataChange()">
            </label>
          </ion-item>
          <ion-list>
            <ion-item class="item" ng-repeat="item in wikidataResults" ng-click="selectWikidataSearchResult(item)">
              <p>{{item.label}} ({{item.id}})</p>
            </ion-item>
          </ion-list>
          <ion-item class="item-osm-object">
            <button class="button button-positive button-small wiki-map-button" ng-click="showWikidataPage()" ng-disabled="osmObjectInfo.wikidataTag == ''">View on wikidata.org</button>
          </ion-item>
          <ion-item class="item-osm-object">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Wikipedia
              </span>
              <input type="text" placeholder="Give article or fi:article or ..." ng-model="osmObjectInfo.wikipediaTag" ng-change="inputWikipediaChange()">
            </label>
          </ion-item>
          <ion-list>
            <ion-item class="item" ng-repeat="item in wikipediaResults" ng-click="selectWikipediaSearchResult(item)">
              <p>{{item}}</p>
            </ion-item>
          </ion-list>
          <ion-item class="item-osm-object">
                <button class="button button-positive button-small wiki-map-button" ng-click="showWikipediaPage()" ng-disabled="osmObjectInfo.wikipediaTag == ''">View on wikipedia.org</button>          </ion-item>
          <ion-item class="item-osm-object">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Wikimedia Commons
              </span>
              <input type="text" placeholder="Give Category:xyz or File:xyz ..." ng-model="osmObjectInfo.wikimediaCommonsTag" ng-change="inputCommonsChange()">
            </label>
          </ion-item>
          <ion-list>
            <ion-item class="item" ng-repeat="item in commonsResults" ng-click="selectCommonsSearchResult(item)">
              <p>{{item}}</p>
            </ion-item>
          </ion-list>
          <ion-item class="item-osm-object">
            <button class="button button-positive button-small wiki-map-button" ng-click="showCommonsPage()" ng-disabled="osmObjectInfo.wikimediaCommonsTag == ''">View on commons.wikimedia.org</button>
          </ion-item>
          <div class="item item-divider">
            Other Tags
          </div>
          <div class="item row row-osm-object-header">
            <div class="col col-50 col-osm-object col-osm-object-left">Key</div>
            <div class="col col-50 col-osm-object">Value</div>
          </div>
            <ion-item class="item-osm-object" ng-click="" ng-repeat="(key, value) in osmObjectInfo.tags">
              <div class="row row-osm-object">
                <div class="col col-50 col-osm-object col-osm-object-left">{{key}}</div>
                <div class="col col-50 col-osm-object">{{value}}</div>
              </div>
            </ion-item>
          <div class="item item-divider" ng-if="osmObjectInfo.incompleteGeometry">
            Note
          </div>
          <ion-item ng-if="osmObjectInfo.incompleteGeometry">
            Incomplete geometry shown
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
